# Ignoring files by extension
# All files with these extensions will be ignored in
# this directory and all its sub-directories.
# - ignore pycache and .pt model files

*.pt
*.pyc

datasets_grammar/__pycache__/__init__.cpython-38.pyc
datasets_grammar/__pycache__/grammar_dataset.cpython-38.pyc
policies/__pycache__/__init__.cpython-38.pyc
policies/__pycache__/mixed_precision.cpython-38.pyc
policies/__pycache__/wrapping.cpython-38.pyc
verify/__pycache__/__init__.cpython-38.pyc
verify/__pycache__/environment.cpython-38.pyc
